node_modules/
.env
*.code-workspace
.vscode/
data.json
*.old.json
counting.sqlite
counting.sqlite-*
future_features.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest Tests
coverage/
.jest-cache/
